<script src="{{ "custom-slider.js" | asset_url }}" defer></script>

{% style %}
  .padding-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
  }

  @media screen and (min-width: 750px) {
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}


<div class="custom-blogs">
  <div class="page-width">
    <div class="custom-blogs__heading-section color-{{ section.settings.color_scheme }}">
      {% if section.settings.section_heading != blank %}
        <h2> {{ section.settings.section_heading }} </h2>   
      {% endif %}  
      
      {% if section.settings.section_button_text != blank %}
        <div class="">
          <a class="custom-button-primary-transparent" 
            {% if section.settings.section_button_link == blank %}
                role="link" aria-disabled="true"
              {% else %}
                href="{{ section.settings.section_button_link }}"
            {% endif %}>
            {{ section.settings.section_button_text }}
          </a>
        </div>    
      {% endif %}  
    </div>
    
  </div>
</div>




{% schema %}
  {
    "name": "Custom Blogs",
    "tag": "section",
    "settings": [
       {
        "type": "blog",
        "id": "blog",
        "label": "Blogs"
      },
      {
        "type": "text",
        "id": "section_heading",
        "label": "Section heading",
        "default": "Our Customers Review"
      },
      {
        "type": "text",
        "id": "section_button_text",
        "label": "Section button text",
        "default": "View All"
      },
      {
        "type": "url",
        "id": "section_button_link",
        "label": "Section button link"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme"
      },
      {
          "type": "header",
          "content": "Section padding"
      },
      {
          "type": "range",
          "id": "padding_top",
          "label": "Padding top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 20
      },
      {
          "type": "range",
          "id": "padding_bottom",
          "label": "Padding bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 20
      }
    ],
    "presets": [
       {
         "name": "Custom Blogs"
       }
    ]
  }
{% endschema %}