{{ "section-custom-lookbook.css" | asset_url | stylesheet_tag }}


{% style %}
  .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top | divided_by: 2  }}px;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
    }

    @media (min-width: 750px) {
      .padding-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
    {% for block in section.blocks %}
      .lookbook__tops-postion-{{ block.id }}{
        top: {{ block.settings.tops_top_position }}%;
        left: {{ block.settings.tops_left_position }}%;
      }
      
      .lookbook__bottoms-postion-{{ block.id }}{
        top: {{ block.settings.bottoms_top_position }}%;
        left: {{ block.settings.bottoms_left_position }}%;
      }
    
  {% endfor %} 

{% endstyle %}

<div class="lookbook">
  <div class="page-width">
    <div class="grid grid--1-col grid--3-col-desktop">
      {% for block in section.blocks %}
        <div class="grid__item">
          <div class="lookbook__image-container">
            <div class="lookbook__image global-media-settings">
              {% if block.settings.desktop_image != blank %}
                {% render "responsive-image" desktopImage:block.settings.desktop_image, mobileImage: block.settings.mobile_image  %}
              {% endif %}  
            </div>
            {% if block != blank %}
             
              <div class="lookbook__dots  lookbook__tops-postion-{{ block.id }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none" class="icon-circle">
                	<circle class="icon-circle" cx="5.5" cy="5.5" r="5.5" fill="#000"></circle>
                  </svg>  
                  <div class="lookbook__product-container">
                    {% assign topProduct=all_products[block.settings.top_product] %}
                    <div class="lookbook__product-image">
                      {% if topProduct.featured_image != blank %}
                        {% render "responsive-image" desktopImage:topProduct.featured_image, mobileImage: topProduct.featured_image  %}
                      {% endif %}  
                    </div>
                      <!-- <div class="lookbook__product-content">
                        {% if topProduct.title != blank %}
                          <h2 class="h6"> {{ topProduct.title }} </h2>
                        {% endif %} 
                        
                        {% if topProduct.price != blank %}
                          <h2 class="h6"> {{ topProduct.price }} </h2>
                        {% endif %}  
                        
                        {% if topProduct.compare_at_price != blank %}
                          <h2 class="h6"> {{ topProduct.compare_at_price }} </h2>
                        {% endif %}  
                      </div> -->
                </div>
              </div>
              <div class="lookbook__dots lookbook__bottoms-postion-{{ block.id }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none" class="icon-circle">
              	<circle class="icon-circle" cx="5.5" cy="5.5" r="5.5" fill="#000"></circle>
                </svg>
              </div>
            {% endif %}
          </div>
          <div class="lookbook__content color-{{ block.settings.lookbook_color_scheme }}">
            {% if block.settings.heading != blank %}
              <h2 class="h2"> {{ block.settings.heading }} </h2>
            {% endif %}  
            {% if block.settings.description != blank %}
              <div class="h3 lookbook__description"> {{ block.settings.description }} </div>
            {% endif %}  
            {% if block.settings.button_text != blank %}
              <a class="custom-button-secondary_color" 
                {% if block.settings.button_link == blank %}
                    role="link" aria-disabled="true"
                {% else %}
                    href="{{ block.settings.button_link }}"
                {% endif %}>
                {{ block.settings.button_text }}
              </a>  
            {% endif %}  
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Lookbook",
    "tag" : "section",
    "settings": [
      {
      "type" : "header",
      "content" : "Section padding settings"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Section padding top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Section padding bottom",
        "default": 36
      }
    ],
    "blocks":[
      {
        "type": "lookbook-block",
        "name": "Lookbook block",
        "settings": [
          {
            "type": "image_picker",
            "id": "desktop_image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Image (Mobile)"
          },
          
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Women's Winter Clothes"
          },
          
          {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Welcome the season in style with our Women's Winter Clothes Collection – where warmth meets sophistication.</p>"
          },
          
          {
            "type": "text",
            "id": "button_text",
            "label": "Button text",
            "default": "Discover More"
          },
          
          {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
          },
          {
            "type": "color_scheme",
            "id": "lookbook_color_scheme",
            "label": "Color Scheme",
            "default": "scheme_1"
          },
          {
            "type": "header",
            "content": "Lookbook dots settings"
          },
          {
            "type" : "product",
            "id" : "top_product",
            "label" : "Choose top product"
          },
          {
            "type" : "product",
            "id" : "bottom_product",
            "label" : "Choose bottom product"
          },
          {
            "type" : "range",
            "id" : "tops_left_position",
            "label" : "Distance from left",
            "min" : 10,
            "max" : 100,
            "step" : 1,
            "default" : 20,
            "info" : "The Distance measured from left %"
          },
          {
            "type" : "range",
            "id" : "tops_top_position",
            "label" : "Distance from Top",
            "min" : 10,
            "max" : 100,
            "step" : 1,
            "default" : 30,
            "info" : "The Distance mesured from top %"
          },
          {
            "type" : "range",
            "id" : "bottoms_left_position",
            "label" : "Distance from left",
            "min" : 10,
            "max" : 100,
            "step" : 1,
            "default" : 30,
            "info" : "The Distance measured from left %"
          },
          {
            "type" : "range",
            "id" : "bottoms_top_position",
            "label" : "Distance from Top",
            "min" : 10,
            "max" : 100,
            "step" : 1,
            "default" : 40,
            "info" : "The Distance mesured from top %"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Lookbook"
      }
    ]
  }
{% endschema %}